* { box-sizing: border-box; }

html {
    font-family: $font-sans;

    $fsz-mobile:    18px;
    $fsz-standard:  19px;
    $fsz-large:     28px;
    $fsz-xxl:       55px;

    @media #{$mobile} { font-size: $fsz-mobile; }
    @media #{$standard} { @include interpolate(font-size, $mobile-bp, $standard-bp, $fsz-mobile, $fsz-standard); }
    @media #{$large} { @include interpolate(font-size, $standard-bp, $large-bp, $fsz-standard, $fsz-large); }
    @media #{$xxl} { @include interpolate(font-size, $large-bp, $xxl-bp, $fsz-large, $fsz-xxl); }
}

html, body h1, h2, h3, h4, p, span {
    margin: 0;
    padding: 0;
}

button:focus { outline: none; }